@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.card:hover {
    transform: translateY(-5px) ;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 5px 13px 0px;
}
.backdrop {
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 20;
}
table th, table td {
    width: 700px;
}
tr th, tr td {
    padding-left: 30px;
}